name: Debug

on:
  workflow_dispatch:

jobs:
  debug:
    name: debug
    runs-on: ubuntu-latest
    steps:
      - name: Debug Info
        run: |
          ls -la
          echo "REGS=${{ vars.ORAS_REGISTRY }}"
          echo "USER=${{ vars.ORAS_USERNAME }}"
          echo "PASS=${{ vars.ORAS_PASSWORD }}"
          echo "USER=${{ secrets.ORAS_USERNAME }}"
          echo "PASS=${{ secrets.ORAS_PASSWORD }}"
          echo ${{ vars.ORAS_REGISTRY }} > regname.txt

      # Install ORAS CLI using the official action
      # https://github.com/marketplace/actions/setup-oras
      - uses: oras-project/setup-oras@v1
        with:
          version: 1.2.3

      # Push artifacts using ORAS
      # https://github.com/marketplace/actions/oras-push-action
      - name: Push Artifacts
        uses: 1k-off/action-oras-push@v1
        with:
          registry: ${{ vars.ORAS_REGISTRY }}
          username: ${{ secrets.ORAS_USERNAME }}
          password: ${{ secrets.ORAS_PASSWORD }}
          repository: artifacts/test-repo
          files: |
            regname.txt
          manifest-annotations: "pushed-by=github-actions"