name: Push

on:
  workflow_call:
    inputs:
      artifact-name:
        description: 'The name of artifacts to push'
        required: true
        type: string

env:
    TAG_NAME: ""

jobs:
  push:
    name: push
    runs-on: ubuntu-latest
    steps:
      # Download artifact
      # https://github.com/actions/download-artifact
      - uses: actions/download-artifact@v5
        with:
          name: ${{ inputs.artifact-name }}

      - name: Debug Info
        run: |
          ls -la
          echo "REGS=${{ vars.ORAS_REGISTRY }}"
          echo "USER=${{ vars.ORAS_USERNAME }}"
          echo "PASS=${{ vars.ORAS_PASSWORD }}"
          echo "USER=${{ secrets.ORAS_USERNAME }}"
          echo "PASS=${{ secrets.ORAS_PASSWORD }}"

      # Retrieve version from artifact name
      - name: Retrieve version from artifact name
        run: |
          VERSION=$(echo ${{ inputs.artifact-name }} | sed -n 's/StarrySky-\([0-9.]*\)/\1/p' )
          echo "TAG_NAME=$VERSION" >> $GITHUB_ENV

      # Install ORAS CLI using the official action
      # https://github.com/marketplace/actions/setup-oras
      - uses: oras-project/setup-oras@v1
        with:
          version: 1.2.3

      # ORAS Login
      - name: ORAS Login
        run: |
          echo ${{ secrets.ORAS_PASSWORD }} | \
          oras login ${{ vars.ORAS_REGISTRY }} -u '${{ secrets.ORAS_USERNAME }}' --password-stdin

      # Push artifact using ORAS
      - name: Push artifact
        run: |
          oras push ${{ vars.ORAS_REGISTRY }}/artifacts/starry-sky:v${{ env.TAG_NAME }} \
          StarrySky.vsix \
          --annotation stringArray "pushd-by=github-actions"

      - name: Tag latest
        run: |
          oras tag ${{ vars.ORAS_REGISTRY }}/artifacts/starry-sky:v${{ env.TAG_NAME }} latest
